.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: #3b79c3;
}

body {
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  position: relative;
  left: 145px;
  top: -497px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

a {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  border-left: 5px solid #e2e2e2;
  font-size: 20px;
  line-height: 34px;
}

figcaption {
  margin-top: 5px;
  opacity: 1;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.divider {
  position: relative;
  top: 36px;
  height: 1px;
  background-color: #eee;
}

.styleguide-content-wrap {
  text-align: center;
}

.section {
  margin-right: 30px;
  margin-left: 30px;
}

.section.cc-cta {
  padding-right: 80px;
  padding-left: 80px;
  background-color: #f4f4f4;
}

.styleguide-block {
  display: block;
  margin-top: 80px;
  margin-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-tiny {
  font-size: 12px;
  line-height: 20px;
}

.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
}

.paragraph-bigger.cc-bigger-white-light {
  position: absolute;
  left: 51.0964px;
  bottom: -90.9948px;
  opacity: 1;
  color: #393c35;
  font-weight: 600;
}

.button {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #32343a;
  color: #fff;
}

.button:active {
  background-color: #43464d;
}

.button.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-jumbo-button.cc-jumbo-white {
  border-radius: 15px;
  background-color: #fff;
  -webkit-filter: hue-rotate(196deg);
  filter: hue-rotate(196deg);
  outline-color: #000;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-perspective: none;
  perspective: none;
  -webkit-transform: translate(0px, 181px);
  -ms-transform: translate(0px, 181px);
  transform: translate(0px, 181px);
  color: #000;
  cursor: default;
  mix-blend-mode: luminosity;
}

.button.cc-jumbo-button.cc-jumbo-white:hover {
  background-color: #f1f1f1;
}

.button.cc-jumbo-button.cc-jumbo-white:active {
  background-color: #e1e1e1;
}

.button.cc-contact-us {
  position: relative;
  z-index: 5;
}

.button.cc-white-button {
  padding: 16px 35px;
  background-color: #fff;
  color: #202020;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.button.cc-white-button:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.label.cc-styleguide-label {
  margin-bottom: 25px;
}

.label.cc-light {
  opacity: 0.6;
  color: #393c35;
}

.label.cc-blog-date {
  margin-top: 20px;
  opacity: 0.6;
}

.heading-jumbo-tiny {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.rich-text {
  width: 70%;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.rich-text p {
  margin-top: 15px;
  margin-bottom: 25px;
  opacity: 0.6;
}

.rich-text figcaption {
  opacity: 0.6;
}

.rich-text figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

.paragraph-light {
  opacity: 0.6;
}

.heading-jumbo {
  position: absolute;
  left: 128.0964px;
  top: -60px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  opacity: 1;
  color: #293e3f;
  font-size: 64px;
  line-height: 80px;
  text-transform: none;
}

.heading-jumbo-small {
  position: relative;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: #393c35;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

.styleguide-button-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.styleguide-header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 460px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a1b1f;
  color: #fff;
  text-align: center;
}

.paragraph-small {
  font-size: 14px;
  line-height: 26px;
}

.logo-link {
  z-index: 1;
  color: #393c35;
  font-size: 25px;
  font-weight: 900;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.logo-link.w--current {
  margin-left: 74px;
  color: #393c35;
  font-weight: 900;
  text-transform: uppercase;
}

.menu {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: -19px;
  padding: 30px 50px 30px 21px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  background-color: transparent;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
}

.navigation-item {
  right: -70px;
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  color: #393c35;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 0.9;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.logo-image {
  display: block;
  color: #393c35;
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 517px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.webflow-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  text-decoration: none;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: 0.8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.cta-text {
  width: 70%;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
}

.cta-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 110px;
  padding-bottom: 120px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.intro-header {
  position: relative;
  bottom: -12px;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 620px;
  margin-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4f4f4;
  background-image: url('../images/waste.jpg');
  background-position: 0px 0px;
  background-size: cover;
  opacity: 0.41;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
}

.intro-header.cc-subpage {
  height: 480px;
  background-color: #000;
  background-image: none;
  color: #fff;
}

.intro-content {
  width: 70%;
  max-width: 1140px;
  text-align: center;
}

.intro-content.cc-homepage {
  margin-bottom: 20px;
  -webkit-transform: translate(157px, 0px);
  -ms-transform: translate(157px, 0px);
  transform: translate(157px, 0px);
}

.motto-wrap {
  width: 80%;
  margin-right: auto;
  margin-bottom: 85px;
  margin-left: auto;
  text-align: center;
}

.about-story-wrap {
  width: 80%;
  margin: 80px auto;
  text-align: center;
}

.our-services-grid {
  margin-bottom: 120px;
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  -ms-grid-rows: auto 60px auto;
  grid-template-areas: ". . ."
    ". . .";
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.section-heading-wrap {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

.service-icon {
  margin-bottom: 30px;
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-success-message {
  background-color: #12b878;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.status-message.cc-no-data {
  display: block;
  width: 70%;
  margin: 100px auto;
}

.contact-form-wrap {
  padding: 45px 50px 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
}

.contact-form-grid {
  margin-top: 100px;
  margin-bottom: 100px;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-columns: 2.5fr 80px 1fr;
  grid-template-columns: 2.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.details-wrap {
  margin-bottom: 30px;
}

.get-in-touch-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.text-field {
  margin-bottom: 18px;
  padding: 21px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-size: 14px;
  line-height: 26px;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active {
  border-color: #43464d;
}

.text-field:focus {
  border-color: #43464d;
}

.text-field::-webkit-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field:-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field.cc-contact-field {
  margin-bottom: 25px;
}

.text-field.cc-textarea {
  height: 200px;
  padding-top: 12px;
}

.contact-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.contact-form-heading-wrap {
  margin-bottom: 40px;
}

.contact-heading {
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: 400;
}

.map {
  height: 460px;
  margin-bottom: 100px;
  line-height: 20px;
}

.contact-team-name-wrap {
  margin-bottom: 30px;
}

.our-contacts {
  margin-bottom: 120px;
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  grid-template-areas: ". . .";
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: center;
}

.contact-team-details-wrap {
  margin-top: 30px;
}

.contact-team-pic {
  height: 150px;
  margin-bottom: 30px;
  background-color: #f4f4f4;
}

.team-pic {
  width: 100%;
  height: 420px;
  margin-bottom: 40px;
  background-color: #f4f4f4;
}

.team-members {
  margin-bottom: 60px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-rows: auto 30px auto;
  grid-template-areas: ". . ."
    ". . .";
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.team-member-title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.team-member-name {
  margin-bottom: 5px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.projects-grid {
  margin-bottom: 60px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas: "."
    "."
    ".";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 30px auto 30px auto;
  grid-template-rows: auto auto auto;
}

.project-name-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.project-name-link {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  text-decoration: none;
}

.project-name-link:hover {
  opacity: 0.8;
}

.project-name-link:active {
  opacity: 0.7;
}

.project-cover-link {
  margin-bottom: 40px;
}

.project-cover-link:hover {
  opacity: 0.8;
}

.project-cover-link:active {
  opacity: 0.7;
}

.project-overview-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 620px;
  margin-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4f4f4;
  background-image: url('../images/portfolio-1---wide.svg');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
}

.project-overview-header.cc-project-2-header {
  background-image: url('../images/portfolio-2---wide.svg');
  background-position: 50% 50%;
}

.project-overview-header.cc-project-3-header {
  background-image: url('../images/portfolio-3---wide.svg');
  background-size: cover;
}

.project-details-grid {
  margin-top: 100px;
  margin-bottom: 100px;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-columns: 1fr 80px 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.project-pics {
  margin-bottom: 120px;
}

.detail-image {
  width: 100%;
  margin-bottom: 30px;
}

.blog-detail-header-wrap {
  width: 70%;
  margin: 60px auto;
}

.detail-header-image {
  display: block;
  width: 100%;
  height: 620px;
  margin-bottom: 60px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.detail-header-image.w--current {
  margin-bottom: 60px;
}

.blog-list-wrap {
  margin-bottom: 100px;
}

.blog-item {
  display: block;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.blog-preview-image {
  display: block;
  width: 100%;
  height: 620px;
  margin-bottom: 45px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: cover;
  -webkit-transition: opacity 600ms ease;
  transition: opacity 600ms ease;
}

.blog-preview-image:hover {
  opacity: 0.8;
}

.blog-preview-image:active {
  opacity: 0.7;
}

.blog-summary-wrap {
  width: 70%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  text-align: left;
}

.blog-heading-link {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
  text-decoration: none;
}

.blog-heading-link:hover {
  opacity: 0.8;
}

.blog-heading-link:active {
  opacity: 0.7;
}

.contact-email-link {
  margin-bottom: 5px;
  opacity: 0.6;
}

.contact-email-link:hover {
  opacity: 1;
}

.contact-email-link:active {
  opacity: 0.8;
}

.protected-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.protected-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.protected-heading {
  margin-bottom: 30px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

._404-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a1b1f;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.home-content-wrap {
  margin-top: 80px;
  margin-bottom: 120px;
}

.home-section-wrap {
  margin-bottom: 30px;
}

.section-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}

.about-grid {
  margin-bottom: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-columns: 1fr 80px 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: #bfcbb2;
}

.about-grid.cc-about-2 {
  grid-template-areas: ". .";
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
}

.intro-text {
  width: 80%;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
}

.collection-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.work-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}

.blog-heading {
  margin-bottom: 60px;
  text-align: center;
}

.blog-preview-wrap {
  width: 33.33%;
  padding-right: 45px;
  padding-bottom: 30px;
  padding-left: 15px;
}

.collection-list-wrapper {
  margin-bottom: 120px;
}

.business-article-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  text-decoration: none;
}

.business-article-heading:hover {
  opacity: 0.8;
}

.business-article-heading:active {
  opacity: 0.7;
}

._w-lightbox-caption {
  background-color: rgba(0, 0, 0, 0.6);
}

.body {
  background-color: #bfcbb2;
}

.button-copy {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-copy:hover {
  background-color: #32343a;
  color: #fff;
}

.button-copy:active {
  background-color: #43464d;
}

.button-copy.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button-copy.cc-jumbo-button.cc-jumbo-white {
  border-radius: 15px;
  background-color: #fff;
  -webkit-filter: hue-rotate(196deg);
  filter: hue-rotate(196deg);
  outline-color: #000;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-perspective: none;
  perspective: none;
  -webkit-transform: translate(0px, 181px);
  -ms-transform: translate(0px, 181px);
  transform: translate(0px, 181px);
  color: #000;
  cursor: default;
  mix-blend-mode: luminosity;
}

.button-copy.cc-jumbo-button.cc-jumbo-white:hover {
  background-color: #f1f1f1;
}

.button-copy.cc-jumbo-button.cc-jumbo-white:active {
  background-color: #e1e1e1;
}

.button-copy.cc-contact-us {
  position: relative;
  z-index: 5;
}

.button-copy.cc-white-button {
  padding: 16px 35px;
  background-color: #fff;
  color: #202020;
  font-size: 14px;
  line-height: 26px;
}

.button-copy.cc-white-button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.button-copy.cc-white-button:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.loginbtn {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.loginbtn:hover {
  background-color: #32343a;
  color: #fff;
}

.loginbtn:active {
  background-color: #43464d;
}

.loginbtn.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.loginbtn.cc-jumbo-button.cc-jumbo-white {
  margin-left: 43px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 15px;
  background-color: #fff;
  -webkit-filter: hue-rotate(196deg);
  filter: hue-rotate(196deg);
  outline-color: #000;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-perspective: none;
  perspective: none;
  -webkit-transform: translate3d(-450px, 138px, 229px);
  transform: translate3d(-450px, 138px, 229px);
  color: #000;
  cursor: default;
  mix-blend-mode: luminosity;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.loginbtn.cc-jumbo-button.cc-jumbo-white:hover {
  background-color: #f1f1f1;
}

.loginbtn.cc-jumbo-button.cc-jumbo-white:active {
  background-color: #e1e1e1;
}

.loginbtn.cc-contact-us {
  position: relative;
  z-index: 5;
}

.loginbtn.cc-white-button {
  padding: 16px 35px;
  background-color: #fff;
  color: #202020;
  font-size: 14px;
  line-height: 26px;
}

.loginbtn.cc-white-button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.loginbtn.cc-white-button:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.button-2 {
  background-color: transparent;
  mix-blend-mode: luminosity;
}

.button-2.cc-jumbo-buttun.cc-jumbo-white {
  background-color: #fff;
}

.text-block-2 {
  position: absolute;
  color: #000;
}

.image {
  position: relative;
  top: 0px;
  opacity: 0.27;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  -o-object-fit: fill;
  object-fit: fill;
}

.text-block-3 {
  position: relative;
  left: 65px;
  top: 102px;
  margin-right: 100px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  text-align: center;
}

.button-4 {
  position: relative;
  left: 440px;
  top: 167px;
  right: 0px;
  margin-left: 104px;
  padding-right: 34px;
  padding-left: 34px;
  float: left;
  clear: right;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.61);
  color: #46744d;
}

.div-block {
  position: static;
  top: -85px;
  bottom: 0px;
  height: 650px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading {
  position: relative;
  left: 15px;
  top: 68px;
  right: 0px;
  margin: 0px 258px 0px 262px;
  padding-right: 0px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  text-align: center;
}

.div-block-2 {
  position: static;
  left: 0px;
  top: 0px;
  margin-right: 163px;
  margin-left: 158px;
}

.div-block-3 {
  position: relative;
  top: -522px;
  bottom: 0px;
}

.section-2 {
  height: 650px;
  margin-top: -80px;
  margin-bottom: 0px;
  font-size: 16px;
}

.text-block-4 {
  position: relative;
  left: 400px;
  top: 122px;
  bottom: -122px;
  display: block;
  margin-right: 900px;
  margin-left: 100px;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  outline-color: #e148c0;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  direction: ltr;
  font-family: Montserrat, sans-serif;
  line-height: 30px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  mix-blend-mode: normal;
}

.button-5 {
  position: relative;
  left: 400px;
  top: 161px;
  padding-right: 37px;
  padding-left: 37px;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0.53);
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.43);
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
}

.button-6 {
  position: relative;
  left: 441px;
  top: 161px;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0.55);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.46);
}

.div-block-4 {
  margin-top: 140px;
  margin-right: 230px;
  margin-left: 230px;
}

.field-label {
  position: relative;
  left: 0px;
}

.slide {
  margin-top: 0px;
}

.mask {
  margin-top: -216px;
}

.slider {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.slide-2 {
  background-color: #bfcbb2;
}

.slide-nav {
  background-color: #bfcbb2;
}

.slide-3 {
  background-color: #bfcbb2;
}

.slide-4 {
  background-color: #bfcbb2;
}

.slide-5 {
  background-color: #bfcbb2;
}

.slide-6 {
  background-color: #bfcbb2;
}

.slide-7 {
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  background-color: #bfcbb2;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.slide-8 {
  background-color: #bfcbb2;
}

.slide-9 {
  background-color: #bfcbb2;
}

.slide-10 {
  background-color: #bfcbb2;
}

.slide-11 {
  background-color: #bfcbb2;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  padding: 90px 0px 75px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-block {
  position: relative;
  top: 89px;
  right: -200px;
  display: block;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-6 {
  position: static;
  left: 28px;
  top: 0%;
  right: 0px;
  bottom: 0%;
  display: block;
  min-height: 100px;
  padding-top: 140px;
  padding-right: 20%;
  padding-left: 0%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.heading2 {
  top: 0px;
  overflow: visible;
}

.text-block-5 {
  position: relative;
  left: 40px;
  top: 100px;
  right: 0px;
  bottom: 0px;
  padding-bottom: 0px;
}

.field-label-2 {
  position: relative;
  left: 184px;
  top: 140px;
  width: 350px;
}

.text-field-2 {
  position: relative;
  left: 184px;
  top: 146px;
  width: 400px;
}

.heading-2 {
  position: relative;
  left: 40px;
  top: 0px;
  width: 400px;
}

.text-field-3 {
  position: relative;
  left: 184px;
  top: 40px;
  width: 400px;
}

.field-label-3 {
  position: relative;
  left: 184px;
  top: 40px;
  width: 300px;
}

.field-label-4 {
  position: relative;
  left: 184px;
  top: 124px;
  width: 300px;
}

.text-field-4 {
  position: relative;
  left: 184px;
  top: 79px;
  width: 400px;
  min-width: 0px;
}

.field-label-5 {
  position: relative;
  left: 184px;
  top: 140px;
}

.text-field-5 {
  position: relative;
  top: 100px;
  width: 400px;
}

.field-label-6 {
  position: relative;
  left: 184px;
  top: 140px;
  font-family: Montserrat, sans-serif;
}

.checkbox-field {
  position: relative;
  left: 100px;
  top: 100px;
  width: 24%;
  height: 24%;
}

.select-field {
  position: relative;
  left: 184px;
  top: 146px;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: auto;
  margin-right: 0px;
  padding-right: 12px;
  float: none;
  clear: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.slide-12 {
  background-color: #bfcbb2;
}

.field-label-7 {
  position: relative;
  left: 154px;
  top: 146px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 10px;
  margin-left: 97px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.submit-button {
  margin-top: 120px;
  margin-bottom: 220px;
  margin-left: 1305px;
  -webkit-transition: opacity 375ms ease, opacity 200ms ease;
  transition: opacity 375ms ease, opacity 200ms ease;
}

.button-7 {
  margin: 120px 100px 220px;
}

.body-2 {
  margin-left: 20px;
  background-color: #bfcbb2;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.button-8 {
  position: relative;
  left: 797px;
  top: -19px;
}

.div-block-7 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.button-9 {
  position: relative;
  left: 224px;
  top: 236px;
}

.button-10 {
  position: relative;
  left: 443px;
  top: 160px;
}

.button-11 {
  padding-top: 4px;
  padding-bottom: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #404040;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.55);
  opacity: 0.75;
  color: #fff;
}

.image-2 {
  opacity: 0.6;
}

.select-field-2 {
  position: fixed;
  left: 184px;
  top: 175px;
  width: 400px;
}

.html-embed {
  position: fixed;
  left: 250px;
  top: 200px;
  right: 0px;
  bottom: 60px;
}

.submit-button-2 {
  position: fixed;
  left: 700px;
  top: 240px;
  width: 100px;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0.55);
}

.signup-animation {
  position: relative;
  top: 40px;
  right: 1048px;
  bottom: 0px;
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-block-6 {
  margin-top: 23px;
  margin-left: 29px;
  color: #d30609;
  font-weight: 600;
}

.text-block-6.error-message {
  display: block;
}

.button-12 {
  position: relative;
  left: 13px;
  top: 270px;
  margin-left: 30px;
}

.body-3 {
  background-color: #bfcbb2;
}

.image-3 {
  position: static;
  width: 780px;
  float: right;
}

.text-block-7 {
  position: absolute;
  padding-top: 90px;
  padding-left: 79px;
  float: none;
  clear: left;
  color: #393c35;
  font-size: 40px;
  font-weight: 600;
}

.text-block-8 {
  position: absolute;
  margin-top: 183px;
  margin-left: 156px;
  padding-left: 75px;
  color: #393c35;
}

.text-block-9 {
  position: absolute;
  margin-top: 9px;
  margin-left: 350px;
  padding-top: 244px;
  padding-left: 88px;
  font-weight: 700;
}

.button-13 {
  position: absolute;
  margin-top: 302px;
  margin-left: 300px;
  padding: 9px 37px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.55);
  font-weight: 300;
}

.button-14 {
  position: absolute;
  margin-top: 302px;
  margin-left: 500px;
  padding-right: 36px;
  padding-left: 37px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.55);
}

.image-4 {
  margin-left: 22px;
  padding-left: 0px;
}

.text-block-10 {
  position: absolute;
  left: 639px;
  top: 768.33px;
  font-size: 25px;
  font-weight: 600;
}

.text-block-11 {
  position: absolute;
  left: 640px;
  top: 807.33px;
  right: 81px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}

.form {
  margin-top: 61px;
  margin-right: 146px;
  margin-left: 70px;
}

.slide-13 {
  position: relative;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.form-block-2 {
  margin-top: -29px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.slide-14 {
  background-color: #bfcbb2;
}

.left-arrow {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.field-label-8 {
  padding: 73px 0px 0px 121px;
}

.text-field-6 {
  position: fixed;
  left: 60px;
  top: 0px;
  width: 500px;
  margin-top: 90px;
  margin-right: 0px;
  margin-left: 40px;
  padding-right: 0px;
}

.text-field-7 {
  position: relative;
  left: 100px;
  top: 140px;
  width: 500px;
  padding-left: 12px;
}

.field-label-9 {
  position: relative;
  left: 100px;
  top: 140px;
}

.field-label-10 {
  position: relative;
  left: 100px;
  top: -22px;
}

.field-label-11 {
  position: relative;
  left: 184px;
  top: 66px;
}

.text-field-8 {
  position: relative;
  left: 184px;
  top: 29px;
  width: 400px;
}

.mask-2 {
  left: 0px;
  top: 0px;
  width: 800px;
  height: 400px;
  padding-left: 0px;
}

.slide-nav-2 {
  position: relative;
  left: -6px;
  top: -44px;
}

.icon {
  position: relative;
  left: -41px;
}

.slider-2 {
  position: relative;
  top: 0px;
  width: 800px;
  height: 400px;
  margin-top: -138px;
  margin-left: -134px;
}

.field-label-12 {
  position: relative;
  left: 250px;
  top: 140px;
  color: #969696;
  font-size: 8px;
  line-height: 10px;
  font-style: normal;
  text-align: left;
}

.field-label-13 {
  position: relative;
  left: 41px;
  top: 220px;
}

.text-field-9 {
  position: relative;
  left: 38px;
  top: 220px;
  width: 400px;
}

.field-label-14 {
  position: relative;
  left: 41px;
  top: 250px;
  bottom: 0px;
}

.text-field-10 {
  position: relative;
  left: 41px;
  top: 250px;
  width: 400px;
}

.image-5 {
  position: absolute;
  left: 727px;
  top: -17px;
}

.form-2 {
  padding-right: 219px;
}

.div-block-8 {
  margin-top: 40px;
  padding-left: 0px;
}

.body-4 {
  background-color: #bfcbb2;
}

.link {
  position: absolute;
  left: 156px;
  top: 545px;
  bottom: 0px;
}

.testimonial-column-light {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.centered-heading {
  margin-bottom: 16px;
  text-align: center;
}

.testimonial-grid-two {
  display: -ms-grid;
  display: grid;
  margin-top: 50px;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.testimonial-card-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 16px 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: #e4ebf3;
}

.testimonial-text-two {
  margin-bottom: 51px;
  padding-right: 0px;
  padding-left: 0px;
}

.testimonial-info-three {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0px 74px 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(112, 120, 105, 0.36);
}

.testimonial-image {
  width: 400px;
  height: 160px;
  margin-right: 16px;
  border-radius: 50%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -o-object-fit: cover;
  object-fit: cover;
}

.testimonial-main-heading {
  margin-bottom: 2px;
  font-size: 25px;
  font-weight: 600;
}

.body-5 {
  background-color: #bfcbb2;
}

.background-video {
  width: 0px;
  height: 0px;
  margin-top: -20px;
  margin-bottom: -38px;
  margin-left: 299px;
  padding-left: 1px;
}

.background-video-2 {
  position: relative;
  top: 41px;
  margin-top: 64px;
  padding-top: 0px;
}

.submit-button-3 {
  position: absolute;
  left: 350px;
  top: 300px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.55);
}

.image-6 {
  margin-top: 0px;
  opacity: 0.55;
}

.image-7 {
  opacity: 0.55;
}

.image-8 {
  position: static;
  opacity: 0.55;
}

.html-embed-2 {
  position: fixed;
  left: 184px;
  top: 146px;
  width: 400px;
}

.text-block-12 {
  position: relative;
  left: 184px;
  top: 51px;
  font-size: 9px;
  font-weight: 300;
}

.select-field-3 {
  position: relative;
  left: 184px;
  top: 146px;
  width: 500px;
}

@media screen and (max-width: 991px) {
  .section.cc-cta {
    padding-right: 0px;
    padding-left: 0px;
  }

  .styleguide-block {
    text-align: center;
  }

  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .button.cc-contact-us {
    display: none;
  }

  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }

  .heading-jumbo-small {
    margin-top: 29px;
  }

  .logo-link.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .menu-icon {
    display: block;
  }

  .menu {
    position: static;
    margin-left: 30px;
  }

  .navigation-wrap {
    background-color: #fff;
  }

  .navigation {
    padding: 25px 30px;
  }

  .navigation-item {
    padding: 15px 30px;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }

  .navigation-item:hover {
    background-color: #f7f8f9;
  }

  .navigation-item:active {
    background-color: #eef0f3;
  }

  .menu-button {
    padding: 0px;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .navigation-items {
    background-color: #fff;
  }

  .cta-text {
    width: auto;
  }

  .cta-wrap {
    width: auto;
    padding: 80px 50px 90px;
  }

  .our-services-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas: ". ."
      ". ."
      ". .";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    text-align: center;
  }

  .service-icon {
    display: inline-block;
  }

  .contact-form-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-row-gap: 50px;
    grid-template-areas: "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto;
    grid-template-rows: auto auto;
    text-align: center;
  }

  .get-in-touch-form {
    text-align: left;
  }

  .our-contacts {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas: "."
      "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .team-members {
    grid-template-areas: ". ."
      ". ."
      ". .";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .team-member-title-wrap {
    margin-bottom: 30px;
  }

  .project-details-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-row-gap: 50px;
    grid-template-areas: "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto;
    grid-template-rows: auto auto;
    text-align: center;
  }

  .blog-detail-header-wrap {
    width: 70%;
  }

  .detail-header-image {
    height: 460px;
  }

  .blog-item {
    width: 80%;
  }

  .blog-preview-image {
    height: 460px;
  }

  .blog-summary-wrap {
    width: 100%;
  }

  .about-grid {
    grid-row-gap: 50px;
    grid-template-areas: "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto;
    grid-template-rows: auto auto;
    text-align: center;
  }

  .about-grid.cc-about-2 {
    grid-template-areas: "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .intro-text {
    width: auto;
  }

  .collection-wrap {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .blog-preview-wrap {
    width: 80%;
    padding-right: 15px;
    text-align: center;
  }

  .button-copy {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .button-copy.cc-contact-us {
    display: none;
  }

  .loginbtn {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .loginbtn.cc-contact-us {
    display: none;
  }

  .container-2 {
    max-width: 728px;
  }

  .testimonial-grid-two {
    grid-column-gap: 30px;
  }

  .testimonial-info-three {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .section {
    margin-right: 15px;
    margin-left: 15px;
  }

  .section.cc-cta {
    padding: 15px;
  }

  .section.cc-home-wrap {
    margin-right: 15px;
    margin-left: 15px;
  }

  .section.cc-store-home-wrap {
    margin-right: 15px;
    margin-left: 15px;
  }

  .container {
    text-align: center;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .rich-text {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }

  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }

  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }

  .logo-link {
    padding-left: 0px;
  }

  .navigation {
    padding: 20px 30px;
  }

  .cta-wrap {
    padding-right: 30px;
    padding-left: 30px;
  }

  .intro-content {
    width: 80%;
  }

  .our-services-grid {
    grid-row-gap: 60px;
    grid-template-areas: "."
      "."
      "."
      "."
      "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 60px auto 60px auto 60px auto 60px auto 60px auto;
    grid-template-rows: auto auto auto auto auto auto;
  }

  .status-message.cc-no-data {
    width: 80%;
    max-width: 470px;
  }

  .contact-form-wrap {
    padding: 30px;
  }

  .text-field.cc-contact-field {
    text-align: left;
  }

  .text-field.cc-textarea {
    text-align: left;
  }

  .team-pic {
    height: 300px;
    margin-bottom: 30px;
  }

  .team-member-name {
    font-size: 16px;
    line-height: 28px;
  }

  .project-name-wrap {
    margin-bottom: 30px;
  }

  .project-name-link {
    font-size: 16px;
    line-height: 28px;
  }

  .detail-image {
    margin-bottom: 15px;
  }

  .blog-detail-header-wrap {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }

  .blog-item {
    width: 90%;
    max-width: 470px;
  }

  .blog-summary-wrap {
    text-align: center;
  }

  .utility-page-wrap {
    padding: 15px;
  }

  ._404-wrap {
    padding: 30px;
  }

  .testimonial-column-light {
    padding: 60px 15px;
  }

  .testimonial-grid-two {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .testimonial-info-three {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 52px;
  }

  .rich-text {
    width: 100%;
    max-width: none;
  }

  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }

  .menu {
    margin-left: 15px;
  }

  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }

  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .cta-wrap {
    padding-right: 15px;
    padding-left: 15px;
  }

  .status-message.cc-no-data {
    width: 100%;
  }

  .contact-form-grid {
    width: 100%;
  }

  .our-contacts {
    width: 90%;
  }

  .team-members {
    grid-template-areas: "."
      "."
      "."
      "."
      "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
  }

  .project-details-grid {
    width: 100%;
  }

  .blog-detail-header-wrap {
    width: 100%;
    max-width: none;
  }

  .blog-item {
    width: 100%;
    max-width: none;
  }

  .container-2 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }
}

#w-node-_98e6c885-fc7c-7705-cd54-73b0d3a2d61e-9e1352c3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_98e6c885-fc7c-7705-cd54-73b0d3a2d628-9e1352c3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_98e6c885-fc7c-7705-cd54-73b0d3a2d632-9e1352c3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

